<mat-grid-list cols="1" rowHeight="fit" style="height: 500px">
  <mat-grid-tile colspan="1" rowspan="1">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            Iniciar Sesión
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <p>
            <mat-form-field>
              <input matInput placeholder="Correo" formControlName="email">
              <mat-error *ngIf="email.invalid">{{getErrorMessage(email)}}</mat-error>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field>
              <input matInput placeholder="Clave" formControlName="clave">
              <mat-error *ngIf="clave.invalid">{{getErrorMessage(clave)}}</mat-error>
            </mat-form-field>
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button type="submit" mat-flat-button color="primary">Ingresar <mat-icon>send</mat-icon></button>
        </mat-card-actions>
      </mat-card>
    </form>
  </mat-grid-tile>
</mat-grid-list>