.logo {
  background-image: url("../../../../assets/images/logo_ea_group.png");
  background-repeat: no-repeat;
  background-size: contain;
  filter: brightness(200%);
  top: 5px;
  height: 125%;
  width: 100%;
  position: relative;
}
