table {
  width: 100%;
}

.container-table {
  max-height: calc(100vh - 345px);
  overflow: auto;
}

::ng-deep .container-table tbody tr:hover {
  background-color: #f5f5f5;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

::ng-deep .input-filtro .mat-form-field-wrapper {
  padding-bottom: 0;
}

.example-spacer {
  flex: 1 1 auto;
}

.btn-add {
  top: 30px;
}