<app-loader [cargando]="cargando"></app-loader>
<mat-toolbar>
  <mat-toolbar-row>
    <span>
      Lista de Usuarios
    </span>
    <span class="example-spacer"></span>
    <button mat-fab class="btn-add" matTooltip="Crear Usuario" matTooltipPosition="before" (click)="crearUsuario()">
      <mat-icon aria-label="Crear">add</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<section>
  <mat-card>
    <mat-form-field appearance="outline" class="input-filtro" floatLabel="never">
      <mat-label>Filtro</mat-label>
      <input matInput (keyup)="applyFilter($event.target.value)">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <div class="container-table">
      <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
          <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>

        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
          <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
        </ng-container>

        <ng-container matColumnDef="apellidos">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellidos </th>
          <td mat-cell *matCellDef="let row"> {{row.apellidos}} </td>
        </ng-container>

        <ng-container matColumnDef="fechaNacimiento">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de Nacimiento </th>
          <td mat-cell *matCellDef="let row"> {{row.fechaNacimiento | date}} </td>
        </ng-container>

        <ng-container matColumnDef="direccion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Dirección </th>
          <td mat-cell *matCellDef="let row"> {{row.direccion}} </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
          <td mat-cell *matCellDef="let row"> {{row.email}} </td>
        </ng-container>

        <ng-container matColumnDef="role">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Cargo </th>
          <td mat-cell *matCellDef="let row"> {{row.role.nombre | slice:5}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 25]"></mat-paginator>
  </mat-card>
</section>