.sidenav-container {
  height: calc(100vh - 64px);
}

.sidenav {
  width: 200px;
}

.sidenav mat-nav-list a p {
  margin-left: 1em;
}

.title {
  margin-left: 11pc;
}

.btn-logout {
  bottom: 8px;
  position: absolute;
}
