<ul #sidenav id="slide-out" class="sidenav sidenav-fixed">
  <li>
    <div class="user-view">
      <div class="background teal"></div>
      <a><span class="white-text name">{{ user.nombre }}</span></a>
      <a><span class="white-text email">{{ user.email }}</span></a>
    </div>
  </li>
  <li *ngFor="let ruta of rutas"><a class="waves-effect" [routerLink]="ruta.path" (click)="setRuta(ruta.title)">
      <i class="material-icons">{{ ruta.icon }}</i>{{ ruta.name }}</a>
  </li>
  <li>
    <div class="divider"></div>
  </li>
  <li><a class="waves-effect" (click)="logout()"><i class="material-icons">exit_to_app</i>Cerrar Sesión</a></li>
</ul>