<app-loader [cargando]="cargando"></app-loader>
<form [formGroup]="garantiaForm" (ngSubmit)="onSubmit()" autocomplete="off">
  <mat-toolbar>
    <mat-toolbar-row>
      <span>
        Formato Garantias
      </span>
      <span class="example-spacer"></span>
      <button mat-fab class="btn-add" matTooltip="Guardar Garantia" matTooltipPosition="before">
        <mat-icon aria-label="Guardar">save</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <section>
    <mat-card>
      <mat-grid-list cols="4" rowHeight="75px">
        <mat-grid-tile>
          <mat-form-field appearance="outline">
            <mat-label>Fecha</mat-label>
            <input matInput formControlName="fechaRegistro" type="date" required>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field appearance="outline">
            <mat-label>Boutique</mat-label>
            <input matInput formControlName="boutique" required>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" type="email">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field appearance="outline">
            <mat-label>Telefono</mat-label>
            <input matInput formControlName="telefono" type="tel">
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>

      <mat-divider [inset]="true"></mat-divider>

      <table mat-table [dataSource]="dataSource" formArrayName="referencias" (mouseleave)="hoveredIndex = null">

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; let i = index; columns: displayedColumns;" (mouseover)="hoveredIndex = i">
        </tr>

        <ng-container matColumnDef="referencia">
          <th mat-header-cell *matHeaderCellDef> Referencia </th>
          <td mat-cell *matCellDef="let row; let i = index;" [formGroupName]="i">
            <input matInput formControlName="nombre">
          </td>
        </ng-container>

        <ng-container matColumnDef="color">
          <th mat-header-cell *matHeaderCellDef> Color </th>
          <td mat-cell *matCellDef="let row; let i = index;" [formGroupName]="i">
            <input matInput formControlName="color">
          </td>
        </ng-container>

        <ng-container matColumnDef="talla">
          <th mat-header-cell *matHeaderCellDef> Talla </th>
          <td mat-cell *matCellDef="let row; let i = index;" [formGroupName]="i">
            <input matInput formControlName="talla" type="number">
          </td>
        </ng-container>

        <ng-container matColumnDef="total">
          <th mat-header-cell *matHeaderCellDef> Total </th>
          <td mat-cell *matCellDef="let row; let i = index;" [formGroupName]="i">
            <input matInput formControlName="total" type="number">
          </td>
        </ng-container>

        <ng-container matColumnDef="cliente">
          <th mat-header-cell *matHeaderCellDef> Cliente </th>
          <td mat-cell *matCellDef="let row; let i = index;" [formGroupName]="i">
            <input matInput formControlName="cliente">
          </td>
        </ng-container>

        <ng-container matColumnDef="factura">
          <th mat-header-cell *matHeaderCellDef> Factura </th>
          <td mat-cell *matCellDef="let row; let i = index;" [formGroupName]="i">
            <input matInput formControlName="nroFactura">
          </td>
        </ng-container>

        <ng-container matColumnDef="observaciones">
          <th mat-header-cell *matHeaderCellDef> Observaciones </th>
          <td mat-cell *matCellDef="let row; let i = index;" [formGroupName]="i">
            <input matInput formControlName="observaciones">
          </td>
        </ng-container>

        <ng-container matColumnDef="fechaRecibido">
          <th mat-header-cell *matHeaderCellDef> Fecha Recibido </th>
          <td mat-cell *matCellDef="let row; let i = index;" [formGroupName]="i">
            <input matInput formControlName="fechaRecibido" type="date">
          </td>
        </ng-container>

        <ng-container matColumnDef="action" stickyEnd>
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row; let i = index;">
            <button type="button" mat-icon-button matTooltip="Quitar Referencia" matTooltipPosition="above"
              (click)="removeRow(i)" [ngStyle]="{'visibility': i == hoveredIndex ? 'visible' : 'hidden' } ">
              <mat-icon aria-label=" Añadir" color="warn">clear</mat-icon>
            </button>
          </td>
        </ng-container>
      </table>
      <button mat-stroked-button type="button" class="btn-add-row" matTooltip="Añadir Referencia"
        matTooltipPosition="after" (click)="addRow()">
        <mat-icon aria-label="Añadir">add</mat-icon>
      </button>
      <p>Causal de Garantia*:</p>
      <mat-button-toggle-group formControlName="causas" class="btn-check-flex" #group="matButtonToggleGroup" multiple>
        <mat-button-toggle [value]="causa.id" *ngFor="let causa of causas">
          {{ causa.codigo }}
        </mat-button-toggle>
      </mat-button-toggle-group>
    </mat-card>
  </section>
</form>