$width-stand: 220px;

.mat-grid-tile .mat-form-field {
  max-width: $width-stand;
}

.mat-grid-tile[colspan="2"] .mat-form-field {
  max-width: ($width-stand * 2) + 12.5px;
}

tr.mat-header-row th {
  font-weight: bold;
}

.btn-add-row {
  right: 16px;
  position: absolute;
}

.btn-check-flex {
  flex-wrap: wrap;
  border: 0;

  .mat-button-toggle {
    border: solid 1px rgba(0, 0, 0, 0.12);
  }
}
