<app-loader [cargando]="cargando"></app-loader>
<mat-toolbar>
  <mat-toolbar-row>
    <span>
      Formato Garantias
    </span>
    <span class="example-spacer"></span>
    <button mat-fab class="btn-add" matTooltip="Guardar Garantia" matTooltipPosition="before">
      <mat-icon aria-label="Guardar">save</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<section>
  <mat-card>
    <form [formGroup]="garantiaForm" autocomplete="off">
      <mat-grid-list cols="4" rowHeight="75px">
        <mat-grid-tile>
          <mat-form-field appearance="outline">
            <mat-label>Fecha</mat-label>
            <input matInput formControlName="fechaRegistro" type="date" required>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field appearance="outline">
            <mat-label>Boutique</mat-label>
            <input matInput formControlName="boutique" required>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" type="email">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field appearance="outline">
            <mat-label>Telefono</mat-label>
            <input matInput formControlName="telefono" type="tel">
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
    </form>

    <mat-divider [inset]="true"></mat-divider>

    <form [formGroup]="form" autocomplete="off">
      <table mat-table [dataSource]="dataSource" formArrayName="referencias">

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; let i = index; columns: displayedColumns;"></tr>

        <ng-container matColumnDef="referencia">
          <th mat-header-cell *matHeaderCellDef> Referencia </th>
          <td mat-cell *matCellDef="let row; let i = index;" [formGroupName]="i">
            <input matInput formControlName="referencia">
          </td>
        </ng-container>

        <ng-container matColumnDef="color">
          <th mat-header-cell *matHeaderCellDef> Color </th>
          <td mat-cell *matCellDef="let row; let i = index;" [formGroupName]="i">
            <input matInput formControlName="color">
          </td>
        </ng-container>

        <ng-container matColumnDef="talla">
          <th mat-header-cell *matHeaderCellDef> Talla </th>
          <td mat-cell *matCellDef="let row; let i = index;" [formGroupName]="i">
            <input matInput formControlName="talla">
          </td>
        </ng-container>

        <ng-container matColumnDef="total">
          <th mat-header-cell *matHeaderCellDef> Total </th>
          <td mat-cell *matCellDef="let row; let i = index;" [formGroupName]="i">
            <input matInput formControlName="total">
          </td>
        </ng-container>

        <ng-container matColumnDef="cliente">
          <th mat-header-cell *matHeaderCellDef> Cliente </th>
          <td mat-cell *matCellDef="let row; let i = index;" [formGroupName]="i">
            <input matInput formControlName="cliente">
          </td>
        </ng-container>

        <ng-container matColumnDef="factura">
          <th mat-header-cell *matHeaderCellDef> Factura </th>
          <td mat-cell *matCellDef="let row; let i = index;" [formGroupName]="i">
            <input matInput formControlName="factura">
          </td>
        </ng-container>

        <ng-container matColumnDef="observaciones">
          <th mat-header-cell *matHeaderCellDef> Observaciones </th>
          <td mat-cell *matCellDef="let row; let i = index;" [formGroupName]="i">
            <input matInput formControlName="observaciones">
          </td>
        </ng-container>

        <ng-container matColumnDef="fechaRecibido">
          <th mat-header-cell *matHeaderCellDef> Fecha Recibido </th>
          <td mat-cell *matCellDef="let row; let i = index;" [formGroupName]="i">
            <input matInput formControlName="fechaRecibido">
          </td>
        </ng-container>
      </table>
      <button type="button" (click)="addRow()">Añadir Fila</button>
    </form>
  </mat-card>
</section>