<header class="navbar-fixed">
    <nav class="row black">
        <div class="col s12">
            <div class="nav-wrapper">
                <ul class="left">
                    <li>
                        <a class="waves-effect waves-light hide-on-large-only" data-target="slide-out" class="sidenav-trigger">
                            <i class="material-icons">menu</i>
                        </a>
                    </li>
                </ul>
                <a class="brand-logo">{{ title }}</a>
            </div>
        </div>
    </nav>
</header>