<footer>
    <b>Confidencialidad Empleado</b>
    <p>
        Los datos, Manuales, información y/o resultados que me sean revelados o a los que tenga
        acceso por virtud del trabajo que desempeño serán propiedad de la Empresa en todo
        momento y constituyen un secreto industrial en términos del artículo 82 de la Ley de la
        Propiedad Industrial y, por lo tanto, quedarán sujetos a lo establecido en los artículos 83,
        84, 85 y 86 de dicho ordenamiento legal; en consecuencia, ratifico mi obligación de
        confidencialidad respecto de la información técnica, comercial, industrial y de fabricación
        de productos mencionada, por lo que, transmitirlos o utilizarlos en beneficio de cualquier
        otra persona distinta a la Empresa, así como duplicarlos, grabarlos, copiarlos o de
        cualquier otra forma reproducirlos, sin la autorización expresa y por escrito de la Empresa
        podrá actualizar los supuestos contemplados en las fracciones VI, V y/o VI del artículo
        223 de la multicitada Ley de la Propiedad Industrial.
    </p>
    <b>Datos Empresa</b>
    <p>
        Teléfono: 444 05 62 <br>
        Dirección: Cll6 #50 - 21
    </p>
</footer>