<app-loader [cargando]="cargando"></app-loader>
<mat-grid-list cols="1" rowHeight="fit" class="background-login">
  <mat-grid-tile colspan="1" rowspan="1">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-card class="content-form-login">
        <mat-card-header>
          <mat-card-title>
            Iniciar Sesión
          </mat-card-title>
        </mat-card-header>
        <mat-card-subtitle *ngIf="error" class="error-text">
          {{ error }}
        </mat-card-subtitle>
        <mat-card-content class="content-input-login">
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email">
              <mat-error *ngIf="email.invalid">{{getErrorMessage(email)}}</mat-error>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Contraseña</mat-label>
              <input matInput formControlName="clave" [type]="hide ? 'password' : 'text'">
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              <mat-error *ngIf="clave.invalid">{{getErrorMessage(clave)}}</mat-error>
            </mat-form-field>
          </p>
          <mat-checkbox formControlName="recordar">Recordar contraseña</mat-checkbox>
        </mat-card-content>
        <mat-card-actions>
          <button type="submit" mat-flat-button color="primary" class="button-login-accept" [disabled]="cargando">Ingresar</button>
        </mat-card-actions>
      </mat-card>
    </form>
  </mat-grid-tile>
</mat-grid-list>