.background-login {
  height: 100vh;
  background-color: #fafafa;
}

::ng-deep .mat-card-header-text {
  margin: 0 auto !important;
}

.content-form-login {
  padding: 40px 35px;
  width: 250px;
}

.content-input-login {
  margin-top: 15px;
  margin-bottom: 20px;
}

.button-login-accept {
  width: 100%;
  text-transform: uppercase;
}

.error-text-login {
  text-align: center;
  margin-bottom: 20px;
  color: rgba(255, 0, 0, 0.6);
}
