/* You can add global styles to this file, and also import other style files */
@import url("./assets/icon.css");
@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import url("./assets/font.css");

body {
  margin: initial;
}

section {
  padding: 15px;
  margin-top: 21px;
}

.mat-form-field {
  width: 100%;
}

.error-text {
  text-align: center;
  margin-bottom: 20px;
  color: rgba(255, 0, 0, 0.6);
}

.background-100 {
  height: 100vh;
  background-color: #fafafa;
}

.mat-card-header-text {
  margin: 0 auto !important;
}

.content-form {
  padding: 40px 35px !important;
  width: 250px;
}

.content-input {
  margin-top: 15px;
  margin-bottom: 20px !important;
}

.button-login-accept {
  width: 100%;
  text-transform: uppercase;
}

.button-recuperar-btn {
  width: 40%;
  margin: auto 5% !important;
  text-transform: uppercase;
}
