/* You can add global styles to this file, and also import other style files */
@import url("./assets/icon.css");
@import url("./assets/font.css");

@import "~@angular/material/theming";
@include mat-core();

$my-app-primary: mat-palette($mat-grey, 900);
$my-app-accent: mat-palette($mat-blue, 900);
$my-app-warn: mat-palette($mat-deep-orange);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
@include angular-material-theme($my-app-theme);

body {
  margin: initial;
}

section {
  padding: 15px;
  margin-top: 21px;
}

.mat-form-field {
  width: 100%;
}

.error-text {
  text-align: center;
  margin-bottom: 20px;
  color: rgba(255, 0, 0, 0.6);
}

.background-auth {
  height: 100vh;
  opacity: 0.86;
}

.background-img {
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(5px) contrast(50%);
  position: fixed;
}

.img-1 {
  background-image: url("./assets/images/carousel/1.jpg");
}

.img-4 {
  background-image: url("./assets/images/carousel/4.jpg");
}

.mat-card-header-text {
  margin: 0 auto !important;
}

.content-form {
  padding: 40px 35px !important;
  width: 250px;
}

.content-input {
  margin-top: 15px;
  margin-bottom: 20px !important;
}

.button-login-accept {
  width: 100%;
  text-transform: uppercase;
}

.button-recuperar-btn {
  width: 40%;
  margin: auto 5% !important;
  text-transform: uppercase;
}

table {
  width: 100%;
}

.container-table {
  max-height: calc(100vh - 345px);
  overflow: auto;
}

::ng-deep .container-table tbody tr:hover {
  background-color: #f5f5f5;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

::ng-deep .input-filtro .mat-form-field-wrapper {
  padding-bottom: 0;
}

.example-spacer {
  flex: 1 1 auto;
}

.btn-add {
  top: 30px;
}

app-dashboard {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
}
