/* You can add global styles to this file, and also import other style files */
@import url("./assets/icon.css");
@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import url("./assets/font.css");

body {
  margin: initial;
}

section {
  padding: 15px;
  margin-top: 21px;
}

.mat-form-field {
  width: 100%;
}
