<app-nav [sidenav]="sidenav"></app-nav>
<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav class="sidenav" fixedInViewport="false" role="navigation"
        [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
        <mat-nav-list>
            <a mat-list-item [routerLink]="ruta.path" *ngFor="let ruta of rutas" routerLinkActive="active">
                <mat-icon matListIcon>{{ ruta.icon }}</mat-icon>
                <p>{{ ruta.name }}</p>
            </a>
            <a mat-list-item (click)="logout()" class="btn-logout">
                <mat-icon matListIcon>exit_to_app</mat-icon>
                <p>Cerrar Sesión</p>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content role="directory">
        <router-outlet></router-outlet>
        <app-footer></app-footer>
    </mat-sidenav-content>
</mat-sidenav-container>