.sidenav-container {
  height: calc(100vh - 64px);
}

.sidenav {
  width: 200px;
}

.sidenav mat-nav-list a p {
  margin-left: 1em;
}

.btn-logout {
  bottom: 8px;
  position: absolute;
}

.active {
  background: rgba(0, 0, 0, 0.04);
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
