<h1 mat-dialog-title> {{data ? 'Editar' : 'Crear'}} Usuario</h1>
<form [formGroup]="userForm" (ngSubmit)="onSubmit()" autocomplete="off">
  <div mat-dialog-content>
    <mat-grid-list cols="2" rowHeight="3:1">
      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="nombre" required>
          <mat-error *ngIf="nombre.invalid">{{getErrorMessage(nombre)}}</mat-error>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Apellidos</mat-label>
          <input matInput formControlName="apellidos" required>
          <mat-error *ngIf="apellidos.invalid">{{getErrorMessage(apellidos)}}</mat-error>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Fecha de nacimiento</mat-label>
          <input matInput formControlName="fechaNacimiento" type="date" [min]="minDate | date:'yyyy-MM-dd'" required>
          <mat-error *ngIf="fechaNacimiento.invalid">{{getErrorMessage(fechaNacimiento)}}</mat-error>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Dirección</mat-label>
          <input matInput formControlName="direccion" required>
          <mat-error *ngIf="direccion.invalid">{{getErrorMessage(direccion)}}</mat-error>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="2">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="email" required>
          <mat-error *ngIf="email.invalid">{{getErrorMessage(email)}}</mat-error>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Clave</mat-label>
          <input matInput formControlName="clave" [type]="hide ? 'password' : 'text'" required>
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error *ngIf="clave.invalid">{{getErrorMessage(clave)}}</mat-error>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-select placeholder="Cargo" formControlName="role">
            <mat-option *ngFor="let cargo of cargos" [value]="cargo.id">{{cargo.nombre | slice:5}}</mat-option>
          </mat-select>
          <mat-error *ngIf="role.invalid">{{getErrorMessage(role)}}</mat-error>
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <mat-dialog-actions align="end">
    <button mat-raised-button color="primary" aria-label="Guardar">
      <mat-icon>save</mat-icon>
      <span>Guardar</span>
    </button>
    <button mat-button mat-dialog-close>Cancelar</button>
  </mat-dialog-actions>
</form>