<div class="section">
  <div class="row">
    <div class="col s10 offset-s1">
      <table class="highlight">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Fecha de Nacimiento</th>
            <th scope="col">Dirección</th>
            <th scope="col">Email</th>
            <th scope="col">Cargo</th>
            <th scope="col">Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Alvin</td>
            <td>Eclair</td>
            <td>hoy</td>
            <td>ninguno</td>
            <td>porai</td>
            <td>todos</td>
            <td>
              <a class="tooltipped" data-position="right" data-tooltip="Editar"><i class="material-icons teal-text">edit</i></a>
              <a class="tooltipped" data-position="right" data-tooltip="Eliminar"><i class="material-icons black-text">delete</i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>