<ul #sidenav id="slide-out" class="sidenav sidenav-fixed">
  <li>
    <div class="user-view">
      <div class="background teal"></div>
      <a><span class="white-text name">John Doe</span></a>
      <a><span class="white-text email">jdandturk@gmail.com</span></a>
    </div>
  </li>
  <li><a class="waves-effect"><i class="material-icons">home</i>Inicio</a></li>
  <li><a class="waves-effect"><i class="material-icons">people</i>Usuarios</a></li>
  <li>
    <div class="divider"></div>
  </li>
  <li><a class="waves-effect" (click)="logout()"><i class="material-icons">exit_to_app</i>Cerrar Sesión</a></li>
</ul>